apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
        - name: demo-app
          image: 220309168382.dkr.ecr.ap-south-1.amazonaws.com/sonar-app:latest
          ports:
            - containerPort: 8080
